body {
  cursor: url('<http://www.rw-designer.com/cursor-set/wand>'),auto,  !important;
  font-family: 'Gideon Roman', cursive;
  font-family: 'Oranienbaum', serif;
  font-family: 'PT Serif', serif;
}
h1 {

}

h3{

}

div .battlefield {
  display: flex;
  outline: blue;

}

div .gameOver {
  display: flex;
  outline: red;
}

